[Unit]
Description=Riemann
After=network.target

[Service]
User=riemann
ExecStart=/app/bin/riemann /etc/riemann/riemann.config
ExecReload=/bin/kill -HUP ${MAINPID}
ExecStop=/bin/kill -WINCH ${MAINPID}
